.website-owner-name-title{
    background: #4d9feb72;
    color: #fff;
    /* color: var(--px-white); */
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
}

.website-owner-details{
    background: #0788ff33;
    background: rgba(var(--px-theme-rgb), .2);
    color: #fff;
    /* color: var(--px-white); */
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
    text-align-last: start;
}

/* div{
    text-align: left;
    text-align-last: start;
    background-color: #0a0a0a;
    color: white;
} */

.home-container, .hs-banner, .seperator, .seperator-line    {
    text-align: left;
    text-align-last: start;
    /* background-color: #0a0a0a; */
    color: white;
}

.description-about-admin{
    text-align: left;
    text-align-last: start;
    /* background-color: #0a0a0a; */
    color: white;
    padding-right: 250px;
    font-size: 20px;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.6; */
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

.admin-image{
    /* background-color: #0a0a0a; */
    color: white;
    width: 30%;
    height: 61%;
    position: absolute;
    top: 170px;
    left: 900px;
}

.gif{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 800px;
    left: 500px;
}

.home-container, .home-card-container, .card-content-home{
    background: linear-gradient(180deg, #07233b 1.67%, #041d34 39.95%, #04192d 58.24%, #040e18 80.28%, #050c16 101.48%);
}

