.website-owner-name-title {
    background: #4d9feb72;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
  }
  
  .website-owner-details {
    /* background: rgba(7, 136, 255, 0.2); */
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .home-container,
  .hs-banner,
  .seperator,
  .seperator-line {
    text-align: left;
    color: white;
  }
  
  .description-about-admin {
    text-align: left;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
  }
  
  .admin-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .home-container,
  .home-card-container,
  .card-content-home {
    background: linear-gradient(180deg, #07233b 1.67%, #041d34 39.95%, #04192d 58.24%, #040e18 80.28%, #050c16 101.48%);
  }
  
  @media (max-width: 768px) {
    .website-owner-name-title {
      font-size: 14px;
      letter-spacing: 2px;
    }
  
    .website-owner-details {
      font-size: 14px;
      letter-spacing: 2px;
    }
  
    .description-about-admin {
      padding-right: 0;
      font-size: 0.9rem;
    }
  
    .image-container {
      display: none;
    }
  
    .card-content-home {
      padding: 200px 20px 20px 20px !important;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .admin-image {
      width: 80%;
      max-width: 250px;
    }
  
    .description-about-admin {
      padding-right: 50px;
    }
  }
  
  