.typing-effect {
  font-weight: bold;
  font-size: 50px;
  font-weight: 600;
  color: #54CC9C;
}

.cursor {
  font-weight: bold;
  font-size: 70px;
  font-weight: 700;
  color: #54CC9C;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

