span {
    font-family: "Arial", sans-serif;
    font-size: 24px;
  }
  
  span::after {
    content: "|";
    display: inline-block;
    margin-left: 5px;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  