
.website-owner-name{
    background: #54cc9c75;
    border-radius: 4px;
    color: #fff;
    color: var(--px-white);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
}

.project-box{
    background-color: #fff;
    background: rgba(var(--px-theme-rgb), .2);
    border-radius: 10px;
    /* border: solid 2px #54CC9C; */
    width: 350px;
    height: 390px;
    box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.341);
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background: var(--px-white);
}

div.project-box{
    background-color: rgb(240, 255, 249);
    height: 390px;
}

div.project-box:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.all-projects-container-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.developer-projects, .wordpress-projects, .figma-projects{
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.wordpress-projects-image, .developer-projects-image, .figma-projects-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.project-type, .project-type-container, .arrow-right, .project-box{
    background-color: rgb(240, 255, 249);

}

p.project-description{
    background-color: rgb(240, 255, 249);
}

.arrow-right{
    justify-self: center;

}

.project-box{
    background-color: rgb(240, 255, 249);

}

div.project-type.MuiBox-root.css-0{
    background-color: rgb(240, 255, 249);
    padding-left: 20px;

}

div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.project-description-container.css-11nsb57-MuiGrid-root{
    background-color: rgb(240, 255, 249);

}

div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-10.css-17p3wh3-MuiGrid-root{
    background-color: rgb(240, 255, 249);

}
