.website-owner-name{
    background: #54cc9c75;
    border-radius: 4px;
    color: #fff;
    color: var(--px-white);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
}

.project-box{
    /* background-color: #fff; */
    /* background: rgba(var(--px-theme-rgb), .2); */
    border-radius: 10px;
    /* border: solid 2px #54CC9C; */
    width: 350px;
    height: 345px;
    box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.341);
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    /* background: var(--px-white); */
}

div.project-box{
    background-color: aliceblue;
}

div.project-box:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.all-projects-container-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.developer-projects, .wordpress-projects, .figma-projects{
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.wordpress-projects-image, .developer-projects-image, .figma-projects-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.project-type, .project-type-container, .arrow-right{
    background-color: aliceblue;

}

p.project-description{
    background-color: aliceblue;
}

.arrow-right{
    justify-self: center;
    
}
