.contact-box-header{
    box-sizing: border-box;
    padding: 40px;
    gap: 20px;
    width: 1294px;
    height: 170px;
    background: linear-gradient(90deg, #ffffff00 30%, #265b8b1a 100%);
    border-radius: 10px;
    border: solid 1px linear-gradient(90deg, #ffffff00 30%, #265b8b1a 100%);
    position: absolute;
    top: 2498px;
    left: 112px;

}

.contact-box-content{
    box-sizing: border-box;
    padding: 40px;
    gap: 20px;
    width: 1294px;
    background: #265b8b1a;
    border-radius: 10px;
    border: solid 1px #dceeff1a;
}

.contact-box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1294px;
    /* background: #54CC9C; */
    border-radius: 10px;
}

.form-group{
    text-align: left;
}

.contact-container, .contact-card-full, .card-content-contact{
    justify-content: center;
    align-items: center;
    /* display: flex; */
    background: linear-gradient(90deg, #07233b 1.67%, #041d34 39.95%, #04192d 58.24%, #040e18 80.28%, #050c16 101.48%);
}

.contact-form-title, .contact-form-description, textfields, .contact-form-button{
    color: #ffffff;
}


