.description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.card-experience{
    background-color: #0788ff33;
    background: rgba(var(--px-theme-rgb), .2);
    /* border-radius: 4px; */
    border: solid 0.5px #1976d2;
    width: 350px;
    height: 345px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    
}

.card-experience-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: #0787ff0b; */
    /* align-items: center; */
}

.card-experience-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: #0788ff33; */
    /* align-items: center; */
}

.card-center{
    text-align-last: center;
}



.experinece-text{
    /* font-Size: "1.7rem"; */
    font-weight: 600;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 20px;
                              
}

.dummy-text{
    color: transparent;
}

span.website-owner-name{
    margin-left: 50px;
}

img.admin-image2{
    width: 570px;
    height: 570px;
    position: absolute;
    top: 1100px;
    left: 50px;
}

img.gif-rotate{
    width: 525px;
    height: 300px;
    position: absolute;
    top: 1000px;
    left: -1200px;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: rotate 1s infinite;
}

img.gif-rotate-2{    
    width: 350px;
    height: 200px;
    position: absolute;
    top: 1700px;
    left: -500px;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: rotate 1s infinite;
}

span.website-owner-name{
    margin-bottom: 10px;
}

.website-owner-name{
    background: #4d9feb72;
    /* border-radius: 4px; */
    color: #fff;
    color: var(--px-white);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
}

.about-card, .card-content-about{
    background: linear-gradient(90deg, #07233b 1.67%, #041d34 39.95%, #04192d 58.24%, #040e18 80.28%, #050c16 101.48%);
    /* border-radius: 0%; */
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.card-experience.css-1j74uew-MuiPaper-root-MuiCard-root{
    background: #082742;

}

*{
    color: #ffffff;
}